<!DOCTYPE html>
<html
    lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout-default}"
>
    <th:block layout:fragment="op-head">
        <link rel="stylesheet" th:href="'/css/mold/detail.css?'+${noCacheVer}" />
        <link rel="stylesheet" th:href="'/css/table-dropdown.css?'+${noCacheVer}" />
    </th:block>
    <th:block layout:fragment="op-content">
        <div id="app" class="op-user-list wave1">
            <vue-app></vue-app>
        </div>
    </th:block>
    <th:block layout:fragment="op-script">
        <script defer th:src="'/ui/node_modules/chart.js/dist/Chart.min.js?'+${noCacheVer}"></script>
        <script defer th:src="'/js/cdn/chartjs-plugin-labels.js?'+${noCacheVer}"></script>
        <script defer th:src="'/js/cdn/npm-apexcharts.js?'+${noCacheVer}"></script>
        <script defer th:src="'/js/scripts/hooks/useFileUpload.js?'+${noCacheVer}"></script>
        <script defer th:src="'/js/scripts/common/dat-imp/index.js?'+${noCacheVer}"></script>
    </th:block>
</html>
