<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block th:fragment="op-head-login">
    <base href="./" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="description" content="emoldino" />
    <meta name="author" content="dbclose@gmail.com" />
    <meta name="keyword" content="emoldino" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta name="robots" content="noindex" />
    <meta name="google" content="notranslate" />
    <title>eMoldino</title>

    <!-- Icons-->
    <link rel="shortcut icon" href="/images/icon/e-icon.ico" />
    <link
      rel="stylesheet"
      href="/ui/node_modules/@coreui/icons/css/coreui-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="/ui/node_modules/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/ui/node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css"
    />
    <link
      href="/ui/node_modules/simple-line-icons/css/simple-line-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="'/ui/css/style.css?'+${noCacheVer}" />
    <link
      rel="stylesheet"
      href="/ui/node_modules/vue-tel-input/dist/vue-tel-input.css"
    />
    <link rel="stylesheet" href="/ui/vendors/pace-progress/css/pace.min.css" />
    <link rel="stylesheet" th:href="'/css/icon.css?'+${noCacheVer}" />
    <link rel="stylesheet" th:href="'/css/mms.css?'+${noCacheVer}" />
    <th:block layout:fragment="op-head"></th:block>
  </th:block>
</html>
