<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head th:insert="fragments/head :: op-head-common"> </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div style="z-index: 1041" id="headersId">
      <th:block th:replace="fragments/header-new :: op-header"></th:block>
    </div>
    <div class="app-body">
      <th:block th:replace="fragments/sidebar-new :: op-sidebar"></th:block>
      <main id="main" class="main">
        <ul class="nav navbar-nav ml-auto"></ul>
        <div class="container-fluid" style="margin-top: 30px">
          <th:block layout:fragment="op-content"></th:block>
        </div>
      </main>
    </div>
    <div th:replace="fragments/footer :: op-footer"></div>
    <th:block th:replace="fragments/script :: op-script-common"></th:block>
  </body>
</html>
