body {
    background: #f5f5fb;
}

.import-tooling {
    margin: auto;
    background: #FFF;
}

.import-header {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.import-header .import-icon {
    width: 40px;
    padding: 8px 10px 5px;

}

.import-header .import-icon img {
    width: 100%;
}

.import-header .import-title {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.import-body {
    padding: 10px 0;
}

.import-body .import-breadcrumb {
    padding: 0 62px;
    display: flex;
    align-items: center;
}

.import-body .import-breadcrumb .breadcrumb-item {
    padding: 5px 20px;
    font-weight: bold;
}

.import-body .import-breadcrumb .breadcrumb-item.pending {
    color: #CDCDCD;
}

.import-body .import-breadcrumb .breadcrumb-item.processing {
    color: #000;
}

.import-body .import-breadcrumb .breadcrumb-item.complete {
    padding-left: 36px;
    margin-left: 5px;
    background-image: url('/images/import-tooling/purple-check-mark.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: left 10px bottom 5px;
    color: #463DA5;

}

.import-body .import-breadcrumb .breadcrumb-item.complete:first-child {
    margin-left: 0;
}

.import-body .import-breadcrumb .divider-icon {
    width: 20px;
    height: 11px;
}

.import-body .import-breadcrumb .divider-icon.pending {
    background: url('/images/import-tooling/next-arrow.svg') center center no-repeat;
    background-size: cover;
}

.import-body .import-breadcrumb .divider-icon.processing {
    background: url('/images/import-tooling/next-arrow-black.svg') center center no-repeat;
    background-size: cover;
}

.import-body .import-breadcrumb .divider-icon.complete {
    background: url('/images/import-tooling/next-arrow-purple.svg') center center no-repeat;
    background-size: cover;
}

.import-body .import-action {
    display: flex;
    justify-content: space-between;
    /*padding: 0 27px;*/
    padding: 0 10px;
}

.import-body .import-action .btn {
    /*display: inline-block;*/
    /*font-weight: 400;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*vertical-align: middle;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    padding: .3rem 1rem;
    /*font-size: 1rem;*/
    /*line-height: 1.5;*/
    /*border-radius: .25rem;*/
    /*transition: color .15s;*/
    /*color: #212529;*/
    /*background-color: #f8f9fa;*/
    /*border-color: #cecece;*/
    /*cursor: pointer;*/
}

.import-body .import-action .btn.disabled {
    background-color: #CECECE;
    color: #FFF;
}

.import-body .import-action a:hover {
    color: #000;
}
.import-body .btn.track-bar {
    background: url(/images/import-tooling/next-arrow-black.svg) center center no-repeat;
    background-size: 10px;
    height: 25px;
    width: 25px;
    /* transform: translateY(3px); */
    padding: 3px 6px;
    /*display: flex;*/
    margin-left: 5px;
}
.import-body .btn.track-bar.left{
    transform: rotate(
            180deg
    );
}
.left-action {
    display: flex;
    align-items: center;
}
.tracking-indicator {
    margin-left: 1rem;
    transform: translateY(-4px);
}
.progress-tracking {
    width: 200px;
    height: 8px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background: #f0f3f5
}
.progress-tracking .progress-bar-tracking {
    height: 100%;
    border-radius: 5px;
    background: #20A8D7;
}