<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{layouts/layout-login-ver2}"
>
  <th:block layout:fragment="op-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>Login</h1>

                <form
                  name="f"
                  th:action="@{login}"
                  class="needs-validation"
                  method="post"
                >
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input
                      type="email"
                      id="username"
                      name="username"
                      class="form-control"
                      placeholder="Username"
                      required
                    />
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-lock"></i>
                      </span>
                    </div>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                  </div>
                  <div class="row">
                    <!--<div>Remember Me: <input type="checkbox" name="remember-me" /> </div>-->
                    <div class="col-6">
                      <button class="btn btn-primary px-4" type="submit">
                        Login
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <form name="f" th:action="@{login}" method="post">
        <fieldset>
            <legend>Please Login</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <div class="form-actions">
                <button type="submit" class="btn">Log in</button>
            </div>
        </fieldset>
    </form>-->
  </th:block>

  <th:block layout:fragment="op-script">
    <script defer src="/js/scripts/terminal-test/login.js"></script>
  </th:block>
</html>
