
.btn:focus {
  box-shadow: unset;
}

.select-date-group {
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.graph-left-header {
  padding-left: 10px;
}

.graph-middle-header {
  display: flex;
}

@media (max-width: 991px) {
  .graph-left-header {
    width: 100%;
  }

  .graph-middle-header,
  .graph-right-header {
    margin-top: 10px;
    padding-left: 10px;
  }
}

.next-chart-container,
.frequently-chart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month-class {
  height: calc(2.0625rem + 2px);
  width: 100%;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
}

.icon {
  cursor: pointer;
  font-size: 23px;
}

.icon:hover {
  color: #3ec1d4;
}

.icon:active {
  color: #3ec1d4;
}

#hourly-chart-wrapper {
  width: 95%;
  position: absolute;
  height: 370px;
  left: 25px;
  bottom: 10px;
  background: rgb(255, 255, 255);
}

@media (min-width: 992px) {
  #hourly-chart-wrapper {
    height: 400px;
  }
}

@media (min-width: 1100px) {
  div:not(.hourly-custom-legend) #hourly-chart-wrapper {
    height: 500px;
  }

  .hourly-custom-legend #hourly-chart-wrapper {
    height: 450px !important;
  }
}

.hourly-custom-legend .op-chart-wrapper {
  height: 450px !important;
}

.chart-wrapper-inner {
  position: relative;
  height: 100%;
  width: 100%;
}

#chart-hint {
  position: absolute;
  padding: 5px;
  background: rgba(51, 51, 51, 1);
  color: #fff;
  text-transform: capitalize;
  display: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transform: translate(-25%, 15px);
  border-radius: 6px;
}

#chart-hint::before {
  content: "";
  position: absolute;
  left: 25%;
  top: -10px;
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(51, 51, 51, 1);
  transform: translateX(-100%);
}

#circle-point {
  width: 7px;
  height: 7px;
  border: 2px solid #62c1dd;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  display: none;
}

#shot-count-wrapper {
  position: relative;
}

#shot-count-wrapper #shot-count-content {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px;
  left: 0px;
  top: 10px;
  border-radius: 3px;
  transform: translate(-25%, 10px);
}

#shot-count-wrapper #shot-count-content::before {
  content: "";
  position: absolute;
  left: 25%;
  top: -10px;
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
  transform: translateX(-50%);
}

#shot-count-wrapper #shot-count-content #count-content {
  display: flex;
  padding: 7px 0;
}

#shot-count-wrapper #shot-count-content #count-content #count-content-left {
  width: 20px;
  padding-top: 3px;
}

#shot-count-wrapper
  #shot-count-content
  #count-content
  #count-content-left
  #square-hint {
  width: 15px;
  height: 15px;
  border: 1px solid #62c1dd;
  background: #f0f8fb;
}

#shot-count-wrapper #shot-count-content #count-content #count-content-right {
  padding: 2px 2px;
  min-width: 90px;
  width: auto;
}

.transparent {
  opacity: 0;
}

.btn-group-toggle .btn-outline-success {
  max-height: 35px;
}

.chart-legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5px;
}

.chart-legend .legend-item,
.chart-legend .legend-frequently-item {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.legend-item .legend-icon,
.legend-frequently-item .legend-icon {
  width: 35px;
}

.legend-icon.bar {
  height: 12px;
  border-width: 2px;
  border-style: solid;
}

.legend-item .label,
.legend-frequently-item .label {
  color: #666666;
  font-size: 13px;
  cursor: default;
}

.clear {
  clear: both;
}

.analysis-hint {
  position: absolute;
  /*right: -5px;*/
  right: 5px;
  bottom: -5px;
  font-size: 13px;
}

.legend-item.removed,
.legend-frequently-item.removed {
  text-decoration: line-through;
}

.modal-title {
  background: #f5f8ff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*margin-bottom: 1px;*/
  padding: 19.5px 25.5px 11.5px 31px;
  border-radius: 6px 6px 0 0;
}

.t-icon-close {
  width: 12px;
  height: 12px;
  /*line-height: 12px;*/
  background-image: url("/images/icon/black-close-12.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.head-line {
  position: absolute;
  background: #52a1ff;
  height: 8px;
  border-radius: 6px 6px 0 0;
  top: 0;
  width: 100%;
}

.modal-title .span-title {
  color: #4b4b4b;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  margin-right: 64px;
}

.switch-zone {
  display: inline-flex;
  align-items: center;
}

.switch-zone div {
  cursor: pointer;
  width: 132px;
  height: 26px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  color: #888888;
  padding: 4px 0;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-zone div:not(.active):hover {
  background: #f2f5fa;
  border-color: #3491ff;
  color: #3491ff;
}

.switch-zone div.active {
  background: #3491ff;
  color: #fff;
  border-color: #d0d0d0;
}

.primary-animation-switch {
  animation: primary-active-switch 0.7s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  border-color: #89d1fd !important;
  color: #0279fe !important;
}

@keyframes primary-active-switch {
  0% {
  }
  33% {
    box-shadow: 0 0 0 3px #89d1fd;
    text-decoration: none !important;
  }
  66% {
    box-shadow: 0 0 0 3px #89d1fd;
    text-decoration: none !important;
  }
  100% {
  }
}

.switch-btn {
  padding: 5px 10px;
  border: 1px solid #d0d0d0;
  font-size: 12px;
  color: #8b8b8b;
}

.switch-btn:hover {
  background: #deedff;
  color: #3585e5;
}

.switch-btn.active {
  border: 1px solid #3491ff;
  background: rgb(222, 237, 255);
  color: #3491ff;
}

.info-zone {
  margin-top: 25px;
  font-size: 16px;
  display: flex;
}

.info-zone .info-zone_tooling span {
  background: #fbfcfd;
  width: 199px;
  height: 24px;
  padding: 4px 104px 2px 15px;
}

.info-zone .info-zone_tooling b {
  color: #4b4b4b;
  margin-right: 6px;
}

.info-zone .info-zone_tooling {
  margin-right: 43px;
}
#hourly-chart-wrapper {
  position: static !important;
}
