<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout-default}"
>
  <th:block layout:fragment="op-head"></th:block>

  <th:block layout:fragment="op-content">
    <div id="app" style="width: 100%; height: 100%">
      <tol-eol-page></tol-eol-page>
    </div>
  </th:block>

  <th:block layout:fragment="op-script">
    <script defer src="/js/cdn/pdf.min.js"></script>
    <script defer src="/js/scripts/hotjar.js"></script>
    <script defer src="/js/scripts/patch-styles.js"></script>
    <script
      defer
      th:src="'/js/scripts/asset/tol-eol/module-shim.js?'+${noCacheVer}"
    ></script>
  </th:block>
</html>
