.ant-modal-body {
  padding: 0;
  border-radius: 6px;
}
.ant-modal-content {
  width: fit-content;
  height: auto;
  border-radius: 6px;
}
.ant-modal-centered {
  top: -100px;
  vertical-align: text-top;
}
.pretty.p-default input:checked ~ .state label:after {
  background-color: #0075ff;
}
.pretty.p-round {
}
.pretty .state label {
  margin-left: 4px;
}
.pretty .state label:before,
.pretty .state label:after {
  width: 14px;
  height: 14px;
}
/* :not(.p-round) .state label:before,
:not(.p-round) .state label:after {
  border-radius: 1px;
} */
.p-round .state label:before {
  border: 0.7px solid #909090;
}
.pretty .state label:before {
  border-color: #909090;
}
.pretty:hover .state label:before {
  border-color: #4b4b4b;
}
.pretty.p-default input:checked ~ .state label:before {
  border-color: #0075ff;
  /*border-radius: 1px;*/
}
.pretty.p-default input:checked ~ .state label:before {
  border-color: #0075ff;
  /*border-radius: 1px;*/
}
.pretty span {
  margin-left: 0;
}

.pretty {
  margin-right: unset;
}
.calendar-picker-input {
  width: 232px;
  height: 27px;
  color: #4b4b4b;
  border: 0.5px solid #909090;
  border-radius: 2px;
  font-size: 13px;
  padding: 8px 25px 8px 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.calendar-picker-input::placeholder {
  color: #c9c9c9;
}
.calendar-picker-input:hover {
  border: 0.5px solid #4b4b4b;
}
.calendar-picker-input-active {
  border: 1.5px solid #98d1fd !important;
  outline: none !important;
  box-shadow: none !important;
}
.calendar-picker-input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.export-filed-title {
  font-size: 14px;
  color: #4b4b4b;
}
.choosing-items {
  margin-bottom: 10px;
}
.vc-container.vc-blue {
  border: none;
}
.container-date-pick {
  display: flex;
  justify-content: space-around;
  height: fit-content;
}
.vc-container.vc-blue {
  border: none;
}
.title {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #696969;
}
.block {
  margin-right: 50px;
  min-width: 222px;
  position: relative;
}
.wrapper {
  font-family: Helvetica Neue, Regular;
  display: grid;
  position: relative;
  padding: 5px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 30px);
  font-size: 12px;
  color: #4b4b4b;
}
.week-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 50%;
  height: 32px;
  cursor: pointer;
}
.selected {
  color: #fff !important;
  background-color: #519ffc;
}
.selected:hover {
  background-color: #519ffc !important;
}
.week-number {
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 17px;
}
.month-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 50%;
  height: 32px;
  cursor: pointer;
  margin-bottom: 20px;
}

.month-text {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #4b4b4b;
  font-size: 12px;
}
.selected-month {
  border-radius: 25px;
}
.selected-week {
  border-radius: 17px;
}
.selected-year {
  border-radius: 34px;
}
.year-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 50%;
  height: 32px;
  cursor: pointer;
  margin-bottom: 24px;
}
.year-text {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
}
.selected-month {
  color: #fff;
  background-color: #519ffc;
  border-radius: 34px;
}
.disable {
  color: #d5d5d5;
  pointer-events: none;
}
.today {
  color: #2aa3ff;
}
.wrapper-month {
  display: grid;
  position: relative;
  padding: 5px;
  grid-template-columns: repeat(3, 1fr);
  font-size: 12px;
  color: #4b4b4b;
}
.wrapper-year {
  display: grid;
  position: relative;
  padding: 5px;
  grid-template-columns: repeat(5, 1fr);
  font-size: 12px;
  color: #4b4b4b;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 20px;
  align-items: center;
  padding: 0px 7px 0px 7px;
}
.link-button {
  cursor: pointer;
}
.block-button {
  display: block;
}
#date-picker-modal .block-button {
  margin-top: 30px;
}
#export-data-modal .select-type-button,
#date-picker-modal .select-type-button {
  width: 184px !important;
  height: 24px !important;
}
.select-type-button {
  font-size: 13px;
  color: #52a1ff;
  border: 1px solid #52a1ff;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 20px;
}
.select-type-button:focus {
  outline: none !important;
}
.select-type-button:hover {
  background-color: #ebf4ff;
}
.selected-button {
  background-color: #52a1ff;
  color: #ffffff;
}
.selected-button:hover {
  background-color: #3994ff;
  color: #ffffff;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.date-bar {
  height: 22px;
  width: 76px;
  color: #4b4b4b;
  font-size: 11px;
  border: 0.5px solid #909090;
  border-radius: 2px;
  padding: 5px 6px 5px 6px;
}
.date-bar:hover {
  border: 0.5px solid #4b4b4b;
}
.date-bar:focus {
  outline: none;
  border: 1.5px solid #98d1fd;
}
.date-bar-disable {
  /* pointer-events: none; */
  background-color: #e8e8e8;
  border: none !important;
}
.date-bar::placeholder {
  color: #c9c9c9;
}
.date-bar-disable::placeholder {
  color: #909090;
}
.right-title {
  float: left;
}
.block-footer {
  font-size: 11px;
  color: #838383;
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}
.btn-custom-date {
  font-size: 11px;
  padding: 6px 8px;
  height: 24px;
  line-height: 11px;
  margin-left: 8px;
  /* margin: 1px 1px 1px 8px; */
}
.btn-custom-date-light {
  background-color: #fff;
  border: 1px solid #7c7c7c;
  color: #7c7c7c !important;
}
.btn-custom-date-light:hover {
  background-color: #fafafa;
  border: 1px solid #7c7c7c;
  color: #464646 !important;
}
.btn-custom-primary-active {
  background-color: #3585e5;
  outline: 2px solid #89d1fd !important;
}
.btn-disable {
  background-color: #c4c4c4 !important;
  border: 1px solid #c4c4c4 !important;
  pointer-events: none;
}
.warning-text {
  color: #ef4444;
  font-size: 7px;
  line-height: 11px;
  width: 80px;
}
.warning-input {
  border: 0.5px solid #ef4444 !important;
}
.disable-cta {
  pointer-events: none;
}
/* .ant-tooltip-inner {
  width: 180px;
  padding: 5px 4px 4px 6px;
} */
.ant-tooltip-arrow {
  top: 0px;
}
.light-animation-button {
  color: #464646;
  background-color: #fff;
  border: 1px solid #e8e8e8 !important;
  outline: 1px solid #e8e8e8 !important;
}
.t-icon-close {
  width: 12px;
  height: 12px;
  background-image: url("/images/icon/black-close-12.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*override into library style*/
.vc-pane {
  font-family: Helvetica Neue !important;
}
.vc-header {
  padding-top: 0px !important;
  height: 20px !important;
}
.vc-title {
  font-size: 13px !important;
  line-height: 28px !important;
  text-align: center !important;
  color: #696969 !important;
  font-weight: normal !important;
}
.vc-svg-icon {
  height: 20px;
}
.vc-arrow {
  height: 20px;
}
.vc-weekday {
  color: #4b4b4b !important;
  font-size: 12px;
  font-weight: bold !important;
}
.vc-day-content {
  color: #4b4b4b;
  font-family: Helvetica Neue, Regular !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  padding-bottom: 1px;
}
.vc-arrows-container {
  padding: 0px;
}
.vc-highlight {
  width: 20px !important;
  height: 20px !important;
  background-color: #519ffc !important;
}
.today-range {
  color: #2aa3ff !important;
}
.vc-day {
  min-height: 28px !important;
}
.vc-day-content.is-disabled {
  color: #d5d5d5;
  pointer-events: none;
}
.vc-day-content:hover {
  background-color: lightgray !important;
}
.vc-highlight.vc-highlight-base-middle,
.vc-highlight.vc-highlight-base-end,
.vc-highlight.vc-highlight-base-start {
  height: 15px !important;
  width: 35px !important;
  background-color: #519ffc66 !important;
}
.vc-day-content:focus {
  background: none !important;
  /* color: white !important; */
}

.export-field-item_left {
  margin-right: 27px;
}
.custom-modal-title {
  background: #f5f8ff;
  font-size: 16px;
  color: #4b4b4b;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 24px;
  height: 56px;
}
.head-line {
  position: absolute;
  background: #52a1ff;
  height: 8px;
  border-radius: 6px 6px 0 0;
  top: 0;
  width: 100%;
}
.custom-modal-body {
  padding: 24px;
}
.ant-modal {
  width: fit-content !important;
}
.dropdown-legend .checkbox-inactive input:checked ~ .state label:after {
  background-color: #c4c4c4 !important;
}
.dropdown-legend .checkbox-inactive input:checked ~ .state label::before {
  border-color: #c4c4c4 !important;
}
