<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout-base}"
>
  <th:block layout:fragment="op-content">
    <div id="app" class="chart-detail-container">
      <reject-rates-chart
        :chart-param="chartParam"
        :resources="resources"
      ></reject-rates-chart>
    </div>
    <style>
      .chart-detail-container {
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    </style>
  </th:block>

  <th:block layout:fragment="op-script">
    <script
      defer
      th:src="'/js/chart-mold/container.js?'+${noCacheVer}"
    ></script>
    <script defer th:src="'/js/chart-mold/point.js?'+${noCacheVer}"></script>
    <script defer th:src="'/js/chart-mold/shape.js?'+${noCacheVer}"></script>
    <script
      defer
      th:src="'/js/chart-mold/graph-element.js?'+${noCacheVer}"
    ></script>
    <script
      defer
      th:src="'/js/chart-mold/hourly-chart.js?'+${noCacheVer}"
    ></script>
    <script
      defer
      th:src="'/js/chart-mold/cycle-time-hourly-chart.js?'+${noCacheVer}"
    ></script>
    <script
      defer
      th:src="'/js/chart-mold/temperature-hourly-chart.js?'+${noCacheVer}"
    ></script>

    <script
      defer
      th:src="'/ui/node_modules/chart.js/dist/Chart.min.js?'+${noCacheVer}"
    ></script>

    <script defer th:src="'/js/scripts/hotjar.js?'+${noCacheVer}"></script>
    <script
      defer
      th:src="'/js/scripts/admin/reject-rate/chart.js?'+${noCacheVer}"
    ></script>
  </th:block>
</html>
